.border-primary:hover {
  border-color: #d9bf04 !important;
}

/* floating action button whatsapp */
.fab-whatsapp {
  position: fixed;
  bottom: 100px;
  right: 30px;
  background-color: #25d366;
  border-radius: 50%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fab-whatsapp img {
  width: 45px;
  height: 45px;
}

.fab-whatsapp:hover {
  background-color: #128c7e;
  /* Darker green on hover */
}

/* Header  */
/* Header Navbar Styling */
.navbar {
  height: 180px;
  /* Fixed navbar height */
  background-color: #ffffff !important;
  /* Keep background white */
  position: absolute;
  width: 100%;

}

.navbar .navbar-nav .nav-link {
  color: #003366 !important;
  /* Navy blue text */
}

/* Carousel Section Styling */
.carousel-header {
  background-color: transparent;
  /* Ensures separation from navbar */
  margin-top: 0;
  /* Prevent overlap */
}

.carousel-caption {
  background: rgba(0, 0, 0, 0.5);
  /* Dark overlay for better readability */
  padding: 20px;
  border-radius: 10px;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active {
  font-size: 18px;
  color: #ffff !important;
  font-weight: 500;
}

.navbar-light .navbar-nav .nav-link {
  font-size: 18px;
  color: #050748;
  font-weight: 500;
}

.dsk-logo .nav-brand img {
  max-height: 140px;
  width: 215px;
}

.carousel-item.active img {
  margin-top: 120px;
}

/* Mobile View (Max 991px) */
@media (max-width: 991px) {
  .navbar {
    height: auto;
    /* Remove fixed height */
    position: relative;
    /* Remove absolute positioning */
  }

  .navbar .dsk-logo img {
    width: 100px;
    /* Reduce logo size for mobile */
  }

  .navbar .navbar-nav .nav-link {
    padding: 8px 10px;
  }

  .carousel-item.active img {
    margin-top: 0;
  }

  .navbar-light .navbar-nav .nav-link.active {

    color: #d9bf04 !important;
  }
}

.welcome-title {
  font-size: 2.5rem;
  /* Adjust size */
  text-align: center;
  opacity: 0;
  transform: scale(0.8);
  filter: blur(10px);
  animation: blurZoom 1.5s ease-in-out forwards;
}

/* Keyframes for animation */
@keyframes blurZoom {
  0% {
    opacity: 0;
    transform: scale(0.8);
    filter: blur(10px);
  }

  100% {
    opacity: 1;
    transform: scale(1);
    filter: blur(0);
  }
}

/* style="width: 160px; height: 110px;" */
.key-service img {
  width: 100%;
  max-width: 160px;
  height: 100px;
}
.ser-cont{
  height: 550px;
}

@media (max-width: 768px) {
  .service-content-inner {
    flex-direction: column !important;
    text-align: center;
  }

  .service-icon {
    padding: 0.5rem;
  }

  .service-content {
    text-align: center !important;
  }
  .ser-cont{
    height: 850px;
  }
  
}